In [1]:
s=(int(input("enter num : ")))

for i in range(s):
    for j in range(i):
        print("*",end="")
    print("")
for i in range(s,0,-1):
    for j in range(i):
        print("*",end="")
    print("")

enter num : 9

*
**
***
****
*****
******
*******
********
*********
********
*******
******
*****
****
***
**
*

In [6]:
for i in range(65,91,1):
    print(chr(i),end="_")

A_B_C_D_E_F_G_H_I_J_K_L_M_N_O_P_Q_R_S_T_U_V_W_X_Y_Z_

In [7]:
n1=0
n2=1
for i in range(2,10):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

1
2
3
5
8
13
21
34

In [10]:
factorial=1
num=int(input("enter the num :"))

if num<0:
    print("negative value ")
elif num==0:
    print("0 factorial 1")
else:
    for i in range(1,num+1):
        factorial=factorial*i
print(num,"=",factorial)

enter the num :5
5 = 120

In [15]:
str=(input("enter the str :"))

s=(str[::-1])

if (s==str):
    print("pallindrome")
else:
    print("not pallindrome")

enter the str :mom
pallindrome

In [19]:
str1=(input("enter string:"))
str2=(input("enter string:"))

s=sorted(str1.lower())
p=sorted(str2.lower())

if (s==p):
    print("anagram")
else:
    print("not anagram")

enter string:drags
enter string:agdsr
anagram

In [21]:
list=["apple","banana","cat"]
list1=(list[::-1])
print(list1)

['cat', 'banana', 'apple']

In [22]:
str=(input("enter str : "))

revstr=(str[::-1])

print(revstr)

enter str : mobile
elibom

In [26]:
str=(input("enter str :"))
words=str.split(" ")
print(words)

words=words[-1::-1]
print(words)

outstr=" ".join(words)
print(outstr)

enter str :maybe this time get a job
['maybe', 'this', 'time', 'get', 'a', 'job']
['job', 'a', 'get', 'time', 'this', 'maybe']
job a get time this maybe

In [27]:
str=(input("enter the str : "))

words=str.split(" ")
print(words)

words=words[-1::-1]
print(words)

outstr=" ".join(words)
print(outstr)

enter the str : you will win
['you', 'will', 'win']
['win', 'will', 'you']
win will you

In [28]:
str="you will win"
str1=(str[::-1])
print(str1)

niw lliw uoy

In [31]:
# multiply the list
import numpy as np
list=[5,7,6,8,9]
result=np.prod(list)
print(result)

result=1
for i in list:
    result=result*i
print(result)

15120
15120

In [32]:
import calendar
year=2023
month=9
new=calendar.month(year,month)
print(new)

   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [33]:
import datetime as dt

cur_date=dt.date.today()
print(cur_date)

2023-08-06

In [38]:
import datetime as dt

time=dt.datetime.now()
print(time)

print("hour    : ",time.hour())
print("minutes : ",time.minutes())
print("seconds : ",time.seconds())

2023-08-06 11:53:28.106160

TypeError: 'int' object is not callable

In [42]:
import datetime as dt

new=dt.datetime(2001,9,8,5,59)
print(new)

print("year : ",new.date())
print("time : ",new.time())
#print("month : ",new.month)
#print("date : ",new.date)

#print("hour    : ",new.hour())
#print("minutes : ",new.minutes())
#print("seconds : ",new.seconds())

2001-09-08 05:59:00
year :  2001-09-08
time :  05:59:00